<div class="user_title"><h2>ログイン</h2></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "ユーザー名" %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "パスワードを記憶する" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
