<%= render 'search_form' %>

<div id="recipe_list">
  <% if !@recipes.empty? %>
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id) do %>
        <div class="list_box">
          <div class="list_image">
            <%= image_tag recipe.photo.url %>
          </div>
          <div class="list_text">
            <h2><%= recipe.name %></h2>
            <p>by <%= recipe.user.username %></p>
          </div>

        </div>
      <% end %>
    <% end %>
  <% else %>
    <p id="search_message">条件に一致するレシピは見つかりませんでした。</p>
  <% end %>

</div>
